@font-face {
    font-family: 'GrilledCheese BTN';
    src: url('/fonts/GrilledCheeseBTN.woff2') format('woff2'), url('/fonts/GrilledCheeseBTN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --rz-sidebar-width: 15rem;
    --rz-card-border-radius: 6px;
    --rz-header-background-color: #253071;
    --c8s-primary-color: #697fbf;
    --c8s-primary-color-light: #00b2f3;
    --c8s-primary-color-dark: #253071;
    --c8s-highlight-color-orange: #f47527;
    --c8s-highlight-color-yellow: #fff200;
    --c8s-header-background-color: #2e4179;
    --c8s-header-text-color: #ffffff;
}

/*
    HEADERS
*/
.c8s-header-logo h1 {
    font-size: 2.5rem;
    font-weight: normal;
    font-family: "GrilledCheese BTN";
    color: var(--c8s-header-text-color);
    margin: 0.25rem;
    text-shadow: #333 3px 3px 8px;
}

.c8s-header-profile div {
    color: var(--c8s-header-text-color);
    margin: 0.5rem;
}

/*
    SIDEBAR
*/
.c8s-sidebar-menu {
    font-size: xx-large;
    padding: 0.5rem;
}

    .c8s-sidebar-menu .c8s-sidebar-menu-item {
        width: 100%;
        padding: 0.5rem 0.75rem;
        background-color: transparent;
    }

        .c8s-sidebar-menu .c8s-sidebar-menu-item.selected {
            background-color: var(--c8s-header-background-color);
        }

        .c8s-sidebar-menu .c8s-sidebar-menu-item .rz-text-body1 {
            color: inherit;
            margin-bottom: 0;
            font-size: x-large;
        }

        .c8s-sidebar-menu .c8s-sidebar-menu-item.selected .rz-text-body1 {
            color: var(--c8s-header-text-color);
        }

        .c8s-sidebar-menu .c8s-sidebar-menu-item.selected .c8s-icon-display i {
            color: var(--c8s-header-text-color);
        }

/*
    ICONS
*/
.c8s-icon-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .c8s-icon-display i {
        margin: 0.25rem;
    }

/*
    FILTERS
*/
.c8s-applications-filter {
    background: var(--c8s-primary-color-dark);
    width: 100%;
    height: 5rem;
    border-radius: 1rem;
}

/*
    LISTERS
*/
.c8s-applications-lister {
    background: transparent;
    width: 100%;
    height: 100%;
}

/*
    CARDS
*/
.c8s-application-card {
    margin: 0.25rem 0;
}