@inherits BaseRazorComponent

<div class="c8s-footer-display @CssClass">
    <RadzenStack Orientation="Orientation.Vertical"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceBetween">
        <RadzenText TagName="TagName.Div"
                    TextStyle="TextStyle.Body2"
                    TextAlign="TextAlign.Center">
            &copy; Bedtime Math Foundation, 2024
        </RadzenText>
    </RadzenStack>
</div>
