@using SC.Common
@inherits BaseRazorComponent

<div class="c8s-profile-display @CssClass">
    <AuthorizeView>
        <Authorized>
            <RadzenProfileMenu>
                <Template>
                    @(context.User.Identity?.Name ?? SoftCrowConstants.Display.NotSet)
                </Template>
                <ChildContent>
                    <RadzenProfileMenuItem Text="Log Out" Path="/logout" />
                </ChildContent>
            </RadzenProfileMenu>
        </Authorized>
        <NotAuthorized>
            @* Show the LOGIN button on the webpage, not in the profile area *@
        </NotAuthorized>
    </AuthorizeView>
</div>
