@inherits BaseRazorComponent

<div class="c8s-sidebar-menu @CssClass">
    <RadzenRow>
        <RadzenColumn>
            <RadzenCard class="w-100">
                <RadzenStack Orientation="Orientation.Horizontal"
                             AlignItems="AlignItems.Center"
                             JustifyContent="JustifyContent.Left"
                             class="w-100">
                    <IconDisplay Icon="@C8SConstants.Icons.Application"
                                 CssClass="flex-shrink-0" />
                    <RadzenText TagName="TagName.Div"
                                TextStyle="TextStyle.Body1"
                                TextAlign="TextAlign.Left"
                                Text="Applications"
                                class="flex-shrink-0 flex-grow-1" />
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</div>