@inherits BaseRazorComponent
@using C8S.Database.Abstractions.DTOs

<div id="@ComponentId" class="c8s-lister c8s-applications-lister @CssClass">
    <Virtualize @ref="_applicationsList"
                TItem="ApplicationDTO"
                ItemsProvider="@LoadApplications"
                Context="application">
        <ItemContent>
            <ApplicationCard Application="application"
                             ViewClicked="@(async () => await ApplicationChosen.InvokeAsync(application.ApplicationId!.Value))"/>
        </ItemContent>
        <EmptyContent>
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body1"
                        TextAlign="TextAlign.Center"
                        Text="No applications found."/>
        </EmptyContent>
    </Virtualize>

</div>