@inherits BaseRazorComponent
@using C8S.Database.Abstractions.DTOs

<div id="@ComponentId" class="c8s-lister c8s-coaches-lister @CssClass">
    <Virtualize @ref="_coachesList"
                TItem="CoachDTO"
                ItemsProvider="@LoadCoaches"
                Context="coach">
        <ItemContent>
            <CoachCard Coach="coach"/>
        </ItemContent>
        <EmptyContent>
            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Body1"
                        TextAlign="TextAlign.Center"
                        Text="No coaches found."/>
        </EmptyContent>
    </Virtualize>

</div>