@inherits SC.Common.Razor.Base.BaseRazorComponent

<div class="c8s-footer-display @CssClass">
    <RadzenStack Orientation="Orientation.Vertical"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceBetween">
        <RadzenText TagName="TagName.Div"
                    TextStyle="TextStyle.Body2"
                    TextAlign="TextAlign.Center">
            &copy; @DateTimeHelper.Now.Year, Bedtime Math Foundation
        </RadzenText>
    </RadzenStack>
</div>
