@inherits BaseClientComponent

<div id="@ComponentId" class="c8s-detailspage-section c8s-request-clubs @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Start"
                 Gap="0.25rem"
                 class="w-100 h-100">

        @* CLUBS *@
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Start"
                     JustifyContent="JustifyContent.Start"
                     Gap="0"
                     class="flex-grow-1">

            <RadzenText TagName="TagName.Div"
                        TextStyle="TextStyle.Caption"
                        Text="Clubs"
                        class="flex-shrink-0" />

        </RadzenStack>

    </RadzenStack>
</div>
