@page "/wordpress"
@inherits BaseCoordinatedPage<WordPressCoordinator>
@using C8S.AdminApp.Client.Services.Coordinators.WordPress

<RadzenStack Orientation="Orientation.Vertical"
             AlignItems="AlignItems.Stretch"
             JustifyContent="JustifyContent.Stretch"
             Gap="1.0rem"
             class="w-100 h-100">
             
    <h2>WordPress</h2>

</RadzenStack>