@page "/fulco"
@inherits BaseCoordinatedPage<FulcoCoordinator>
@using C8S.AdminApp.Client.Services.Coordinators.Fulco

<RadzenStack Orientation="Orientation.Vertical"
             AlignItems="AlignItems.Stretch"
             JustifyContent="JustifyContent.Stretch"
             Gap="1.0rem"
             class="w-100 h-100">
             
    <h2>Fulco</h2>

</RadzenStack>