@inherits BaseCoordinatedComponent<WPCoachEditorCoordinator>
@using C8S.AdminApp.Client.Services.Coordinators.WordPress

<div class="c8s-wordpress-coach-editor @CssClass">
    COACH: @Service.Coach?.Name
</div>