/** MEDIA BREAKS **/
/*   see: https://blazor.radzen.com/breakpoints 
        xs - Extra Small >= 576px
        sm - Small >= 768px
        md - Medium >= 1024px
        lg - Large >= 1280px
        xl - Extra Large >= 1920px
        xx - Extra Extra Large >= 2560px
    */

/** VARIABLES **/
:root {
    --c8s-primary-light: #00B9E7;
    --c8s-primary-mid: #697FBF;
    --c8s-primary-dark: #002078;
    --c8s-secondary: #50B848;
    --c8s-highlight: #FFF200;
    --c8s-standout: #F37021;
    --c8s-dark: #000000;
    --c8s-light: #FFFFFF;
    --c8s-header-font: "GrilledCheeseBTN";
    --c8s-body-font: "Open Sans";
    --c8s-std-width: 0.5rem;
    --c8s-max-image-width: 250px;
    --c8s-max-image-height: 400px;
    --c8s-small-image-width: 128px;
    --c8s-small-image-height: 64px;
    --c8s-max-description-height: 8rem;
    --rz-text-font-family: "Open Sans";
    --rz-text-display-h1-font-family: GrilledCheeseBTN;
    --rz-text-display-h1-font-size: xx-large;
    --rz-text-display-h1-color: #ffffff;
}
/** BODY **/
html, body {
}

h1:focus {
    outline: none;
}

/** MARGINS **/
.rz-header > *,
.rz-body > *,
.rz-footer > * {
    margin-left: auto;
    margin-right: auto;
}

/** HEADER **/
.rz-header {
    background-color: var(--c8s-primary-dark);
    color: var(--c8s-light);
}

.rz-footer {
    background-color: var(--c8s-primary-mid);
    color: var(--c8s-dark);
}

/** PROFILE **/
ul.rz-profile-menu {
    background-color: transparent;
}

/** FOOTER **/
.rz-footer a {
    color: var(--c8s-standout);
    text-decoration: underline;
}

/** MOBILE BODY **/
.rz-body {
}

.rz-row {
    row-gap: 0;
}

.rzi {
    min-width: 2rem;
}
.rz-radiobutton-box .rzi,
.rz-chkbox-box .rzi {
    min-width: 0;
}

/** DESKTOP BODY **/
@media only screen and (min-width: 1024px) {
    .rz-body {
        padding: var(--c8s-std-width);
    }

    .rz-row {
        row-gap: revert;
    }
}

/** SIDEBAR MENU **/
.c8s-sidebar-menu .sc-icon-display {
    font-size: x-large;
    padding-left: 1.25rem;
}
.c8s-sidebar-menu .rz-text-body1 {
    margin-block-end: 0;
    font-size: x-large;
}



/** LIST PAGES **/
.c8s-page-lister {
    height: 500px;
    overflow-y: scroll;
}