/** MEDIA BREAKS **/
/*   see: https://blazor.radzen.com/breakpoints 
        xs - Extra Small >= 576px
        sm - Small >= 768px
        md - Medium >= 1024px
        lg - Large >= 1280px
        xl - Extra Large >= 1920px
        xx - Extra Extra Large >= 2560px
    */

/** VARIABLES **/
:root {
    --c8s-primary-light: #00B9E7;
    --c8s-primary-mid: #697FBF;
    --c8s-primary-dark: #002078;
    --c8s-secondary: #50B848;
    --c8s-highlight: #FFF200;
    --c8s-standout: #F37021;
    --c8s-dark: #000000;
    --c8s-light: #FFFFFF;
    --c8s-header-font: "GrilledCheeseBTN";
    --c8s-body-font: "Open Sans";
    --c8s-std-width: 0.5rem;
    --c8s-max-image-width: 250px;
    --c8s-max-image-height: 400px;
    --c8s-small-image-width: 128px;
    --c8s-small-image-height: 64px;
    --c8s-max-description-height: 8rem;
    --rz-text-font-family: "Open Sans";
    --rz-text-display-h1-font-family: GrilledCheeseBTN;
    --rz-text-display-h1-font-size: xx-large;
    --rz-text-display-h1-color: #ffffff;
    --rz-sidebar-width: 300px;
}
/** BODY **/
html, body {
}

h1:focus {
    outline: none;
}

/** MARGINS **/
.rz-header > *,
.rz-body > *,
.rz-footer > * {
    margin-left: auto;
    margin-right: auto;
}

/** HEADER **/
.rz-header {
    background-color: var(--c8s-primary-dark);
    color: var(--c8s-light);
}

.rz-footer {
    background-color: var(--c8s-primary-mid);
    color: var(--c8s-dark);
}

/** PROFILE **/
ul.rz-profile-menu {
    background-color: transparent;
}

/** FOOTER **/
.rz-footer a {
    color: var(--c8s-standout);
    text-decoration: underline;
}

/** MOBILE BODY **/
.rz-body {
}

.rz-row {
    row-gap: 0;
}

.rzi {
    min-width: 2rem;
}

.rz-button-icon-only .rzi,
.rz-radiobutton-box .rzi,
.rz-chkbox-box .rzi {
    min-width: 0;
}

/** DESKTOP BODY **/
@media only screen and (min-width: 1024px) {
    .rz-body {
        padding: var(--c8s-std-width);
    }

    .rz-row {
        row-gap: revert;
    }
}

/** SIDEBAR MENU - GROUP / SINGLE **/
.c8s-sidebar-menu .c8s-sidebar-group,
.c8s-sidebar-menu .c8s-sidebar-single {
    margin: 0.25rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

    .c8s-sidebar-menu .c8s-sidebar-group .c8s-sidebar-group-icon,
    .c8s-sidebar-menu .c8s-sidebar-single .c8s-sidebar-single-icon {
        padding-left: 1.25rem;
        flex-shrink: 0;
        min-width: 2.5rem;
        display: flex;
        align-items: center;
    }

        .c8s-sidebar-menu .c8s-sidebar-group .c8s-sidebar-group-icon .sc-icon-display,
        .c8s-sidebar-menu .c8s-sidebar-single .c8s-sidebar-single-icon .sc-icon-display {
            font-size: x-large;
            text-align: center;
            min-width: 32px;
        }

    .c8s-sidebar-menu .c8s-sidebar-group .c8s-sidebar-group-display,
    .c8s-sidebar-menu .c8s-sidebar-single .c8s-sidebar-single-display {
        flex-shrink: 0;
        flex-grow: 1;
        margin-block-end: 0;
        font-size: x-large;
    }

    /** SIDEBAR MENU - SELECTED **/
    .c8s-sidebar-menu .c8s-sidebar-group.selected,
    .c8s-sidebar-menu .c8s-sidebar-single.selected {
        color: var(--c8s-light);
        background-color: var(--c8s-primary-dark);
    }

    .c8s-sidebar-menu .c8s-sidebar-group:not(.selected),
    .c8s-sidebar-menu .c8s-sidebar-single:not(.selected) {
        color: revert;
        background-color: revert;
    }

    .c8s-sidebar-menu .c8s-sidebar-group.selected .c8s-sidebar-group-display,
    .c8s-sidebar-menu .c8s-sidebar-single.selected .c8s-sidebar-single-display {
        color: var(--c8s-light);
    }

    .c8s-sidebar-menu .c8s-sidebar-group:not(.selected) .c8s-sidebar-group-display,
    .c8s-sidebar-menu .c8s-sidebar-single:not(.selected) .c8s-sidebar-single-display {
        color: revert;
    }
    

/** SIDEBAR MENU - ITEM **/
.c8s-sidebar-menu .c8s-sidebar-item {
    margin: 0.25rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

    .c8s-sidebar-menu .c8s-sidebar-item .c8s-sidebar-item-display {
        flex-shrink: 0;
        flex-grow: 1;
        margin-block-end: 0;
        font-size: x-large;
    }

    /** SIDEBAR MENU - SELECTED **/
    .c8s-sidebar-menu .c8s-sidebar-item.selected {
        color: var(--c8s-light);
        background-color: var(--c8s-primary-dark);
    }

    .c8s-sidebar-menu .c8s-sidebar-item:not(.selected) {
        color: revert;
        background-color: revert;
    }

    .c8s-sidebar-menu .c8s-sidebar-item.selected .c8s-sidebar-item-display {
        color: var(--c8s-light);
    }

    .c8s-sidebar-menu .c8s-sidebar-item:not(.selected) .c8s-sidebar-item-display {
        color: revert;
    }

/** NOTIFICATIONS **/
.rz-notification {
    position: absolute !important;
    bottom: 0px;
    left: calc(50vw - 300px);
    width: 600px;
    inset-block-start: revert !important;
    inset-inline-end: revert !important;
}

.rz-notification .rz-notification-item-wrapper {
    position: revert !important;
    width: auto !important;
}

/** LIST PAGE CLASSES **/
.c8s-page-title {
    color: var(--c8s-light);
    margin-bottom: 0;
    font-size: x-large;
}

.c8s-listpage-filter {
    background-color: var(--c8s-primary-mid);
    padding: 0.5rem;
    flex-shrink: 0;
}

.c8s-listpage-list {
    background-color: var(--c8s-light);
    padding: 0.5rem;
    flex-grow: 1;
    overflow-y: scroll;
}

.c8s-listitem-displayer {
}

.c8s-listitem-displayer-column {
    width: 25%;
    flex-shrink: 0;
}

.c8s-listpage-footer {
    background-color: var(--c8s-primary-mid);
    padding: 0.5rem;
    flex-shrink: 0;
}

    .c8s-listpage-footer .rz-text-body1 {
        color: var(--c8s-light);
    }

/** DETAILS PAGE CLASSES **/
.c8s-detailspage-header {
    background-color: var(--c8s-primary-mid);
    padding: 0.5rem;
    flex-shrink: 0;
    flex-grow: 0;
}

    .c8s-detailspage-header .rz-text-display-h4,
    .c8s-detailspage-header .rzi {
        color: var(--c8s-light);
    }


/** DIALOG CLASSES **/
.c8s-dialog .rz-html-editor {
    min-height: 250px;
}