@inherits SC.Common.Razor.Base.BaseRazorComponent

<div class="c8s-logo-display @CssClass">
    <RadzenText TagName="TagName.H1"
                TextStyle="TextStyle.DisplayH1"
                TextAlign="TextAlign.Left"
                Text="Crazy 8s Admin" />
</div>