@using SC.Common
@inherits BaseRazorComponent

<div class="c8s-profile-display @CssClass">
    <AuthorizeView>
        <Authorized>
            @(context.User.Identity?.Name ?? SoftCrowConstants.Display.NotSet)
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login">log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
