@inherits BaseRazorComponent

<div id="@ComponentId" class="c8s-header-profile @CssClass">
    <RadzenText TagName="TagName.Div"
                TextAlign="TextAlign.Right"
                TextStyle="TextStyle.Body1"
                Text="@SelfService.Username" />
</div>