@inherits BaseRazorComponent

<div id="@ComponentId" class="c8s-header-logo @CssClass">
    <RadzenText TagName="TagName.H1"
                TextAlign="TextAlign.Left"
                TextStyle="TextStyle.DisplayH1"
                Text="Crazy 8s - Admin" />
</div>