@inherits BaseOwningComponent<NotesListCoordinator>

<div class="c8s-notes-list c8s-request-notes-list @CssClass">

    @foreach (var note in Service.Notes)
    {
        <RadzenCard class="rz-mb-2">
            <NoteDisplayer Note="note" Coordinator="@Service" />
        </RadzenCard>
    }

</div>