@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/applications">Applications</a>

<RenderStateViewer Parent="this" />
<hr/>
<LocalControl />
<hr/>
<LibraryControl />