@page "/"
@inherits BaseRazorPage
@rendermode InteractiveWebAssembly

<PageTitle>Default</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/applications">Applications</a>

<RenderStateViewer Parent="this" />

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />