@page "/home"
@using C8S.AdminApp.Client.UI.Common
@inherits BaseRazorPage
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<RadzenPageContainer HideDuringPreRender="true">

    <h1>Hello, world!</h1>

    Welcome to your new app.

    <a href="/applications">Applications</a>

    <RenderStateViewer Parent="this" />

</RadzenPageContainer>