@page "/home"
@inherits BaseRazorPage
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<WaitingPageContainer HideDuringPreRender="true">

    <h1>Hello, world!</h1>

</WaitingPageContainer>