@page "/"
@page "/home"
@inherits C8S.Common.Razor.Base.BaseRazorPage

<PageTitle>Home</PageTitle>

<div>
    @if (AllHaveValues)
    {
        <div>Found @_totalApplications!.Value.ToString("#,##0") applications.</div>
        <div>Found @_totalClubs!.Value.ToString("#,##0") clubs.</div>
        <div>Found @_totalCoaches!.Value.ToString("#,##0") coaches.</div>
        <div>Found @_totalOrders!.Value.ToString("#,##0") orders.</div>
        <div>Found @_totalOrganizations!.Value.ToString("#,##0") organizations.</div>
        <div>Found @_totalSkus!.Value.ToString("#,##0") skus.</div>
    }
    else
    {
        @: loading...
    }
</div>