@page "/"
@page "/home"
@inherits C8S.Common.Razor.Base.BaseRazorPage

<PageTitle>Home</PageTitle>

<div>
    @if (_totalApplications.HasValue && _totalCoaches.HasValue && _totalOrganizations.HasValue)
    {
        <div>Found @_totalApplications.Value.ToString("#,##0") applications.</div>
        <div>Found @_totalCoaches.Value.ToString("#,##0") coaches.</div>
        <div>Found @_totalOrganizations.Value.ToString("#,##0") organizations.</div>
    }
    else
    {
        @: loading...
    }
</div>