@page "/"
@page "/home"
@inherits C8S.Common.Razor.Base.BaseRazorPage

<PageTitle>Home</PageTitle>

<div>
    @if (_totalApplications.HasValue)
    {
        @: Found @_totalApplications.Value.ToString("#,##0") applications.
    }
    else
    {
        @: loading...
    }
</div>