@using SC.Common.Extensions
@inherits BaseCoordinatedComponent<SidebarMenuCoordinator>

<div class="c8s-sidebar-menu @CssClass">
    @foreach (var pageGroup in Service.PageGroups)
    {
        <SidebarGroup Group="pageGroup.Key"
                      Clicked="@(async (args) => await Service.HandleSidebarGroupClicked(args))"/>

        <div>@String.Empty.AppendUniqueDateTime()</div>
    }
</div>