@inherits BaseCoordinatedComponent<SidebarMenuCoordinator>

<div class="c8s-sidebar-menu @CssClass">
    @foreach (var group in _groups)
    {
        <SidebarGroup Group="@group" />
    }
    
</div>
   