@inherits BaseRazorListFilter<TicketsListCoordinator, TicketListItem>
@using C8S.Domain.Features.Tickets.Models
@using C8S.AdminApp.Client.Services.Coordinators.Tickets

<div id="@ComponentId" class="c8s-listpage-filter c8s-tickets-listpage-filter @CssClass">
    FILTER
</div>