@inherits BaseRazorListFooter<TicketsListCoordinator, TicketListItem>
@using C8S.Domain.Features.Tickets.Models
@using C8S.AdminApp.Client.Services.Coordinators.Tickets

<div id="@ComponentId" class="c8s-listpage-footer c8s-tickets-listpage-footer @CssClass">
    FOOTER
</div>