@inherits BaseRazorComponent
@using C8S.Common

<div class="c8s-application-header @CssClass">

    <RadzenStack Orientation="Orientation.Horizontal"
                 AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.SpaceBetween">

        <RadzenText TagName="TagName.H4"
                    TextStyle="TextStyle.DisplayH4"
                    TextAlign="TextAlign.Start"
                    class="flex-grow-1">
            @(Application?.ApplicantFullName ?? SharedConstants.Display.NotSet)
        </RadzenText>

        <RadzenButton ButtonType="ButtonType.Button"
                      ButtonStyle="ButtonStyle.Primary"
                      Variant="Variant.Text"
                      Text="X"
                      class="flex-shrink-0" />

    </RadzenStack>
</div>