@inherits BaseRazorComponent
@rendermode InteractiveWebAssembly

<div class="c8s-page-lister c8s-applications-lister @CssClass">
    <Virtualize @ref="@_listerComponent"
                ItemsProvider="@GetRows"
                Context="application">
        <ItemContent>
            <RadzenCard class="rz-mb-2">
                <ApplicationDisplayer Application="@application"/>
            </RadzenCard>
        </ItemContent>
    </Virtualize>
</div>