@inherits SC.Common.Razor.Base.BaseRazorComponent
@rendermode InteractiveWebAssembly

<div class="c8s-page-lister c8s-requests-lister @CssClass">
    <Virtualize @ref="@_listerComponent"
                ItemsProvider="@GetRows"
                Context="request">
        <ItemContent>
            <RadzenCard class="rz-mb-2">
                <RequestDisplayer Request="@request"/>
            </RadzenCard>
        </ItemContent>
    </Virtualize>
</div>