<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
                <Authorizing>
                    <RadzenText TagName="TagName.Div"
                                TextAlign="TextAlign.Center"
                                TextStyle="TextStyle.DisplayH1"
                                Text="Please wait..." />
                </Authorizing>
                <NotAuthorized>
                    <RadzenText TagName="TagName.Div"
                                TextAlign="TextAlign.Center"
                                TextStyle="TextStyle.DisplayH1"
                                Text="You are not authorized to view this content." />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>